/* フォーム */
#myForm {
    margin-bottom: 20px;
}

#fileInput {
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* 問題・答えのセクション */
#que, #ans {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

#que h2, #ans h2 {
    font-size: 25px;
    color: #555;
}

#question, #answer {
    font-size: 20px;
    color: #333;
    margin-top: 10px;
}

#myImage {
    max-height: 100px;
}

.table-container {
    height: 338px;
    overflow: auto;       /* コンテンツがあふれる場合にスクロールバーを表示 */
}

/* テーブルのスタイル */
table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    margin-top: 20px;
}

th, td {
    padding: 10px;
    text-align: left;
    /*border-bottom: 1px solid #ddd;*/
    border: 1px solid #ddd; /* セルの枠線 */
}

th {
    background-color: #f2f2f2;
    color: #555;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:hover {
    background-color: #f1f1f1;
}

/* ID列 */
.id {
    width: 60px;
    text-align: center;
}

p {
    font-size: 100px;
}

button:hover {
    background-color: #45a049;
}
/* ファイル入力のカスタマイズ */
#fileInput {
    display: none; /* デフォルトのファイル入力を非表示にする */
}

#fileInputLabel {
    text-align: center;
    width: 200px;
    display: inline-block;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

#fileInputLabel:hover {
    background-color: #45a049;
    transform: translateY(-2px);
}

#fileInputLabel:active {
    background-color: #388e3c;
    transform: translateY(0); /* 押した感覚を出す */
}

#fileName {
    display: inline-block;
    margin-left: 10px;
    font-size: 16px;
    color: #555;
    line-height: 30px;
    vertical-align: middle;
}

/* ファイル選択後にファイル名を表示するため */
#fileInput:focus + #fileInputLabel,
#fileInput:active + #fileInputLabel {
    background-color: #45a049;
}

#button {
    width: 200px;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

/* ホバー時の効果 */
#button:hover {
    background-color: #45a049;
    transform: translateY(-2px); /* 少し浮き上がる効果 */
}

/* ボタンがクリックされたときの効果 */
#button:active {
    background-color: #388e3c;
    transform: translateY(0); /* 押した感覚を出す */
}

#progressContainer {
    width: 100%;
    background-color: #f3f3f3;
    border-radius: 5px;
    margin-top: 20px;
}

#progressBar {
    height: 30px;
    width: 0%;
    background-color: #4caf50;
    border-radius: 5px;
}

/* 進捗バーのラベル */
#progressLabel {
    text-align: center;
    font-weight: bold;
    font-size: 24px;
    margin-top: 5px;
}