body {
  position: relative;
}
.title {
  display: flex;
  align-items: center;
  height: 40px;
}
input#title {
  height: 80%;
  margin: 10px;
  padding: 6px;
}
label {
  font-size: 25px;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin: 30px 0 0 0;
}
tr {
  position: relative;
}
th, td {
    border: 1px solid #aaa;
    padding: 8px;
    text-align: left;
}
td.id {
    transition: all 0.3s ease;
}
td textarea {
    height: 40px;
    width: 100%;
    font-size: 18px;
    resize: none;
    padding: 10px;
}
td.last {
  padding: 0;
}
th {
    background-color: #f2f2f2;
}
.dropBtn {
  width: 100%;
  height: 61px;
  border: none;
  outline: none;
  font-size: 30px;
  background-color: white;
  cursor: pointer;
}
.menu {
  display: none;
  position: absolute;
  text-align: center;
  height: 100px;
  aspect-ratio: 1.6;
  right: 0;
  background-color: white;
  border: 1px solid black;
  border-radius: 10px;
  z-index: 1;
}
.menu.show {
  display: block;
}
.menu button {
  background-color: white;
  font-size: 18px;
  width: 100%;
  height: 50%;
  padding: 10px;
  border: none;
  border-radius: 10px;
  outline: none;
  cursor: pointer;
  transition: all 0.5s ease;
}
.delete {
  color: red;
  background: linear-gradient(to right, 
      transparent 0%, 
      transparent 5%, 
      black 5%, 
      black 95%, 
      transparent 95%, 
      transparent 100%);
  background-repeat: no-repeat;
  background-position: top;
  background-size: 100% 1px;
}
.delete:hover {
  background-color: black;
  color: yellow;
}
.insert {
  color: black;
}
.insert:hover {
  color: white;
  background-color: black;
}
/*.dropBtn:focus + .menu {
  display: block;
}*/
#addRowBtn {
    display: block;
    height: 50px;
    width: 300px;
    margin: 10px auto;
    font-size: 40px;
    border: none;
    outline: none;
    color: white;
    background-color: #4caf4fd0;
    border-radius: 25px;
    cursor: pointer;
    transition: all 0.3s ease;
    transform: scale(1);
} 
#addRowBtn:hover {
    background-color: #4caf4f;
    transform: scale(1.1);
}

#submit {

  position: fixed;
  width: 350px;
  height: 50px;
  bottom: 60px;
  left: 80px;
  font-size: large;
  color: white;
  background-color: #404040d0;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 25px;
  transition: all 0.3s ease;
}
#submit:hover {
  background-color: #404040;
}
.modal {
  position: fixed;
  display: none;
  z-index: 999;
  left: 0; top: 0;
  width: 100%; height: 100%;
  background-color: rgba(0,0,0,0.5);
  justify-content: center;
  align-items: center;
}
.modal-content {
  position: relative;
  background: white;
  padding: 20px;
  height: 200px;
  width: 400px;
  border-radius: 8px;
  text-align: center;
}
#label {
  margin: 10px;
}
#idLabel {
  position: absolute;
  font-size: 25px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.buttons {
  position: absolute;
  display: flex;
  justify-content: space-between;
  gap: 10px;
  bottom: 20px;
  left: 50px;
  height: 30px;
  width: 300px;
}
.buttons button {
  height: 100%;
  width: 70px;
  border: none;
  outline: none;
  background-color: #000000;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
  transform: scale(1.0);
}
.buttons button:hover {
  transform: scale(1.2);
}
.spinner {
    position: absolute;
    display: none;
    width: 40px;
    height: 40px;
    border: 4px solid #ddd;
    border-top: 4px solid #4caf4f;
    border-radius: 50%;
    animation: spin 1s linear infinite;
    top: 50%;
    left: 50%;
    z-index: 100;
}
@keyframes spin {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

@media (max-width: 768px) {
  #submit {
    left: 25px;
  }
  .modal-content {
    width: 340px;
  }
  #idLabel {
    font-size: 24px;
  }
}