main {
    padding: 20px;
}

/* フォルダ選択フォーム */
#folderForm {
    text-align: left;
    margin-bottom: 20px;
}

#folderInput {
    display: none; /* デフォルトのファイル入力を非表示にする */
}

#folderInputLabel {
    text-align: center;
    width: 200px;
    display: inline-block;
    padding: 10px 20px;
    background-color: #2B9C2E;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

#downloadButton {
    text-align: center;
    margin-top: 10px;
    width: 400px;
    display: inline-block;
    padding: 10px 20px;
    background-color: #2B9C2E;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

#folderInputLabel:hover, #downloadButton:hover {
    background-color: #45a049;
    transform: translateY(-2px);
}

#folderInputLabel:active, #downloadButton:active {
    background-color: #388e3c;
    transform: translateY(0); /* 押した感覚を出す */
}

/* フォルダ構造を表示 */
.folder-structure {
    margin-top: 20px;
}


li.folder {
    font-weight: bold;
    color: #2B9C2E;
}

li.file {
    color: #333;
    height: 20px;
    cursor: pointer;
}

li.file:hover {
    background-color: #f1f1f1;
}

.nested {
    margin-left: 20px;
}



.nested::before {
    content: '';
    position: absolute;
    top: 0;
    left: -10px;
    width: 2px;
    height: 100%;
    background-color: #000;
}
ul {
    list-style-type: none;
    padding-left: 0;
    position: relative;
}
li {
    position: relative;
    padding-left: 10px;
}
li::before {
    content: '';
    position: absolute;
    top: 10px;
    left: -10px;
    width: 10px;
    height: 2px;
    background-color: #000;
}
.folder-structure > ul > li.folder:first-child::before {
    content: none;
}
.folder-structure > ul > li.folder:first-child {
    padding-left: 0px;
}